<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #F4F4FD;
        margin: 0;
    }

    .row {
        margin-right: calc(var(--bs-gutter-x)* -3.5);
        margin-left: calc(var(--bs-gutter-x)* -3);
    }

    .col-md-4 {
        display: flex;
    }

    h2 {
        color: #333;
        margin-top: 30px;
        margin-bottom: 15px;
        text-align: center;
    }

    .chart-container {
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        padding: 20px;
    }

    canvas {
        max-width: 100%;
        height: auto !important;
    }

    .chart-title {
        font-size: 1.5em;
        text-align: center;
        margin-bottom: 10px;
        color: #555;
    }

    .field-label {
        font-size: 12px;
        margin-top: 4px;
        font-weight: bold;
    }

    .field-value {
        font-size: 1.2em;
        color: #333;
    }

    .fields-container {
        margin-bottom: 20px;
    }
</style>
<div class="container">
    <div class="row">
        <!-- Line 1003 -->
        <div class="col-md-4 d-flex align-items-center gap-3">
            <div class="fields-container text-left">
                <div class="field-label">Pipe Weight: <span id="line1003Weight">@ViewBag.Line1003Weight</span></div>
                <div class="field-label">Average: <span id="line1003Average">@ViewBag.Line1003Average</span></div>
                <div class="field-label">CPK: <span id="line1003Cpk">0</span></div>
                <div class="field-label">LTL:      <input style="width: 56px;" type="number" id="ltlInput_canvasLine1003" step="0.01" onchange="saveLimits('canvasLine1003')"></div>
                <div class="field-label">UTL:      <input style="width: 56px;" type="number" id="rtlInput_canvasLine1003" step="0.01" onchange="saveLimits('canvasLine1003')"></div>
            </div>
            <div class="chart-container text-center">
                <h4>Line 1003</h4>
                <canvas id="canvasLine1003" width="400" height="400"></canvas>
            </div>
        </div>

        <!-- Line 1010 -->
        <div class="col-md-4 d-flex align-items-center gap-3">
            <div class="fields-container text-left">
                <div class="field-label">Pipe Weight: <span id="line1010Weight">@ViewBag.Line1010Weight</span></div>
                <div class="field-label">Average: <span id="line1010Average">@ViewBag.Line1010Average</span></div>
                <div class="field-label">CPK: <span id="line1010Cpk">0</span></div>
                <div class="field-label">LTL:      <input style="width: 56px;" type="number" id="ltlInput_canvasLine1010" step="0.01" onchange="saveLimits('canvasLine1010')"></div>
                <div class="field-label">UTL:      <input style="width: 56px;" type="number" id="rtlInput_canvasLine1010" step="0.01" onchange="saveLimits('canvasLine1010')"></div>
            </div>
            <div class="chart-container text-center">
                <h4>Line 1010</h4>
                <canvas id="canvasLine1010" width="400" height="400"></canvas>
            </div>
        </div>

        <!-- Line 1011 -->
        <div class="col-md-4 d-flex align-items-center gap-3">
            <div class="fields-container text-left">
                <div class="field-label">Pipe Weight: <span id="line1011Weight">@ViewBag.Line1011Weight</span></div>
                <div class="field-label">Average: <span id="line1011Average">@ViewBag.Line1011Average</span></div>
                <div class="field-label">CPK: <span id="line1011Cpk">0</span></div>
                <div class="field-label">LTL:      <input style="width: 56px;" type="number" id="ltlInput_canvasLine1011" step="0.01" onchange="saveLimits('canvasLine1011')"></div>
                <div class="field-label">UTL:      <input style="width: 56px;" type="number" id="rtlInput_canvasLine1011" step="0.01" onchange="saveLimits('canvasLine1011')"></div>
            </div>
            <div class="chart-container text-center">
                <h4>Line 1011</h4>
                <canvas id="canvasLine1011" width="400" height="400"></canvas>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <!-- Line 1013 -->
        <div class="col-md-4 d-flex align-items-center gap-3">
            <div class="fields-container text-left">
                <div class="field-label">Pipe Weight: <span id="line1013Weight">@ViewBag.Line1013Weight</span></div>
                <div class="field-label">Average: <span id="line1013Average">@ViewBag.Line1013Average</span></div>
                <div class="field-label">CPK: <span id="line1013Cpk">0</span></div>
                <div class="field-label">LTL:      <input style="width: 56px;" type="number" id="ltlInput_canvasLine1013" step="0.01" onchange="saveLimits('canvasLine1013')"></div>
                <div class="field-label">UTL:      <input style="width: 56px;" type="number" id="rtlInput_canvasLine1013" step="0.01" onchange="saveLimits('canvasLine1013')"></div>
            </div>
            <div class="chart-container text-center">
                <h4>Line 1013</h4>
                <canvas id="canvasLine1013" width="400" height="400"></canvas>
            </div>
        </div>
        <!-- Line 10113 -->
        <div class="col-md-4 d-flex align-items-center gap-3">
            <div class="fields-container text-left">
                <div class="field-label">Pipe Weight: <span id="line10113Weight">@ViewBag.Line10113Weight</span></div>
                <div class="field-label">Average: <span id="line10113Average">@ViewBag.Line10113Average</span></div>
                <div class="field-label">CPK: <span id="line1013Cpk">0</span></div>
                <div class="field-label">LTL:      <input style="width: 56px;" type="number" id="ltlInput_canvasLine10113" step="0.01" onchange="saveLimits('canvasLine10113')"></div>
                <div class="field-label">UTL:      <input style="width: 56px;" type="number" id="rtlInput_canvasLine10113" step="0.01" onchange="saveLimits('canvasLine10113')"></div>
            </div>
            <div class="chart-container text-center">
                <h4>Line 10113</h4>
                <canvas id="canvasLine10113" width="400" height="400"></canvas>
            </div>
        </div>
        <!-- Line 1014 -->
        <div class="col-md-4 d-flex align-items-center gap-3">
            <div class="fields-container text-left">
                <div class="field-label">Pipe Weight: <span id="line1014Weight">@ViewBag.Line1014Weight</span></div>
                <div class="field-label">Average: <span id="line1014Average">@ViewBag.Line1014Average</span></div>
                <div class="field-label">CPK: <span id="line1014Cpk">0</span></div>
                <div class="field-label">LTL:      <input style="width: 56px;" type="number" id="ltlInput_canvasLine1014" step="0.01" onchange="saveLimits('canvasLine1014')"></div>
                <div class="field-label">UTL:      <input style="width: 56px;" type="number" id="rtlInput_canvasLine1014" step="0.01" onchange="saveLimits('canvasLine1014')"></div>
            </div>
            <div class="chart-container text-center">
                <h4>Line 1014</h4>
                <canvas id="canvasLine1014" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.17/signalr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.8/dist/chart.umd.js"></script>
    <script src="~/js/dashboard.js"></script>
}